@media (min-width: 1251px) {

    .header__star-big-mobile {
        display: none;
    }
}

@media (max-width:1250px) {
    .center {
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }

    .header {
        .header__star-big {
            display: none;
        }

        .header__star-big-mobile {
            position: absolute;
            top: -100px;
            right: -114px;
            overflow: hidden;
        }

        .header__star1 {
            margin-left: -15px;
        }
    }

    .main {
        .main-aboutGame {

            .main-aboutGame__starBig,
            .main-aboutGame__starSmall,
            .main-aboutGame__starSred {
                display: none;
            }

            .main-aboutGame__containerForGame {
                gap: 16px;

                .main-aboutGame__gameLink:hover {
                    transform: scale(1.05);
                }

                .main-aboutGame__cart {
                    max-width: 323px;
                }

                .main-aboutGame__img {
                    max-width: 323px;
                }

                .main-aboutGame__name-h2 {
                    font-size: 26px;
                }
            }
        }

        .main-miniGame {
            .main-miniGame__star-min {
                margin-left: 600px;
                margin-top: 0px;
            }

            .main-miniGame__star-sred {
                margin-left: 500px;
                margin-top: 16px;
            }

            .main-miniGame__star-end-small,
            .main-miniGame__star-end-sred {
                display: none;
            }
        }


    }
}

@media (min-width: 1025px) {

    .main-miniGame__containerMOBILE,
    .main__mini-star_min-end,
    .main__mini-star_sred-end {
        display: none;
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 770px/2);
        padding-right: calc(50% - 770px/2);
    }

    .header {
        .header__star1 {
            margin-left: -25px;
        }

        .header__star3 {
            margin-left: 660px;
        }

        .header__star4 {
            margin-left: 710px;
        }
    }

    .main {
        .main-aboutGame {
            display: none;
        }

        .main-miniGame {
            .main-miniGame__containerDesktop {
                display: none;
            }

            .main-miniGame__containerMOBILE {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                padding-bottom: 10px;
                justify-content: center;

                .main-miniGame__cart-mobile {
                    border-radius: 27.22px;
                    background-color: white;
                    width: 343px;
                }

                .main-miniGame__img-mobile {
                    width: 343px;
                }

                .main-miniGame__name-mobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 29.04px 29.04px 32.67px 29.04px;

                    .main-miniGame__h2-mobile {
                        color: rgba(32, 32, 39, 1);
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: 0px;
                        text-align: left;
                        padding-bottom: 16px;
                        line-height: 1.2;
                    }

                    .main-miniGame__p-mobile {
                        color: rgba(0, 0, 0, 1);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 100%;
                        letter-spacing: 0px;
                        text-align: left;
                        padding-bottom: 32px;
                        line-height: 1.2;
                    }

                    .main-miniGame__button-mobile {
                        color: rgba(255, 255, 255, 1);
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20px;
                        text-align: center;
                        width: 285px;
                        height: 55px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10;
                        padding: 16px 28px 16px 28px;
                        box-sizing: border-box;
                        border: 1px solid rgba(32, 32, 39, 1);
                        border-radius: 60px;
                        background: rgba(32, 32, 39, 1);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .header-container {
            .header-container__buttonMobil {
                display: none;
            }
        }
    }

}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 648px;

        .header-container {
            padding-top: 147px;

            .header-container__titleBig {
                font-size: 40px;
                text-align: center;
            }

            .header-container__title {
                font-size: 16px;
                text-align: center;
                padding-left: 23px;
                padding-right: 23px;
                box-sizing: border-box;
                line-height: 1.2;
            }

            .header-container__buttonMobil {
                display: flex;
                justify-content: center;
            }

            .header-container__buttonDesktop {
                display: none;
            }

            .header-container__buttonMobil-center {
                display: block;
                width: 285px;
                height: 55px;
                font-size: 16px;
                line-height: 20px;
                margin-left: 30px;
                padding: 16px 28px 16px 28px;
                font: inherit;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border: 1px solid rgba(32, 32, 39, 1);
                border-radius: 60px;
                background: rgba(32, 32, 39, 1);
                text-align: center;
                transition: all 1s;
                color: rgba(255, 255, 255, 1);
                font-weight: 600;
                letter-spacing: 0%;
                transition: all 1s;
            }

            .header-container__buttonMobil-center:hover {
                background-color: transparent;
                color: rgba(0, 0, 0, 1);
                cursor: url("img/cursor.svg"), pointer;
            }
        }

        .header__star1 {
            width: 35px;
            height: 35px;
            margin-left: 24px;
            margin-top: -374px;
        }

        .header__star2 {
            width: 21px;
            height: 21px;
            margin-top: -396px;
            margin-left: 82px;
        }

        .header__star3 {
            width: 18px;
            height: 18px;
            margin-top: 30px;
            margin-left: 476px;
        }

        .header__star4 {
            width: 39px;
            height: 41px;
            margin-top: 52px;
            margin-left: 436px;
        }
    }

    .header__star-big {
        display: none;
    }

    .header__star-big-mobile {
        position: absolute;
        top: -100px;
        right: -114px;
        overflow: hidden;
    }

    .header-poloca {
        height: 52px;
        gap: 6;
        padding: 16px 24px 16px 24px;

        .header-poloca__scrolling-text {
            .header-poloca__title {
                font-size: 16px;
                line-height: 20px;
            }

            .header-poloca__star {
                width: 19.34px;
                height: 19.34px;
                padding-left: 28px;
                padding-right: 28px;
            }
        }
    }

    .main-miniGame {

        .main-miniGame__star-min,
        .main-miniGame__star-sred {
            display: none;
        }

        .main-aboutGame__title,
        .main-miniGame__title_2 {
            font-size: 40px;
            padding-bottom: 48px;
            text-align: center;
        }

        .main-miniGame__containerMOBILE {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-bottom: 10px;
            align-content: center;

            .main-miniGame__cart-mobile {
                border-radius: 27.22px;
                background-color: white;
            }

            .main-miniGame__img-mobile {
                width: 343px;
            }

            .main-miniGame__name-mobile {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 29.04px 29.04px 32.67px 29.04px;

                .main-miniGame__h2-mobile {
                    color: rgba(32, 32, 39, 1);
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 100%;
                    letter-spacing: 0px;
                    text-align: left;
                    padding-bottom: 16px;
                    line-height: 1.2;
                }

                .main-miniGame__p-mobile {
                    color: rgba(0, 0, 0, 1);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: 0px;
                    text-align: left;
                    padding-bottom: 32px;
                    line-height: 1.2;
                }

                .main-miniGame__button-mobile {
                    color: rgba(255, 255, 255, 1);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: center;
                    width: 285px;
                    height: 55px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10;
                    padding: 16px 28px 16px 28px;
                    box-sizing: border-box;
                    border: 1px solid rgba(32, 32, 39, 1);
                    border-radius: 60px;
                    background: rgba(32, 32, 39, 1);
                }
            }
        }
    }

    .footer {
        height: 100px;

        .footer__title {
            font-size: 16px;
        }
    }
}

@media (max-width: 510px) {
    .header {

        .header__star1 {
            position: absolute;
            margin-left: 24px;
            margin-top: -424px;
        }

        .header__star2 {
            margin-top: -458px;
            margin-left: 82px;
        }

        .header__star3 {
            margin-top: 30px;
            margin-left: 257px;
        }

        .header__star4 {
            margin-top: 52px;
            margin-left: 284px;
        }
    }
}