@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.header {
  height: 710px;
  background: rgb(225, 255, 143);
  position: relative;
  overflow: hidden;
}
.header .header__container {
  padding-top: 196px;
}
.header .header__container .header__title_big {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
  box-sizing: border-box;
}
.header .header__container .header__title {
  max-width: 700px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 48px;
  box-sizing: border-box;
}
.header .header__container .header__button_desktop {
  font: inherit;
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  text-align: center;
  transition: all 1s;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  transition: all 1s;
}
.header .header__container .header__button_desktop:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: url("img/cursor.svg"), pointer;
}
.header .header__star-big {
  position: absolute;
  top: -336px;
  right: -424px;
  overflow: hidden;
}
.header .header__star1 {
  position: absolute;
  margin-left: -60px;
  margin-top: -460px;
}
.header .header__star2 {
  position: absolute;
  margin-top: -488px;
  margin-left: 31px;
}
.header .header__star3 {
  width: 37px;
  height: 37px;
  position: absolute;
  margin-top: -14px;
  margin-left: 812px;
}
.header .header__star4 {
  position: absolute;
  margin-top: 14px;
  margin-left: 870px;
}

.header__poloca-scrolling-text-container {
  height: 90px;
  padding: 27px 49px 27px 49px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}
.header__poloca-scrolling-text-container .header__scrolling-text {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
}
.header__poloca-scrolling-text-container .header__scrolling-text .header__poloca_title {
  font-family: Montserrat;
  padding: 25px 51px 30px 51px;
  text-align: center;
  box-sizing: border-box;
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.header__poloca-scrolling-text-container .header__scrolling-text .header__star {
  padding-left: 51px;
  padding-right: 51px;
}
@keyframes scroll-left {
  from {
    transform: translateX(0%);
    /* Начинаем с видимой справа части */
  }
  to {
    transform: translateX(-50%);
    /* Перемещаемся влево, пока не исчезнем */
  }
}

.main {
  background: rgb(32, 32, 39);
  overflow: hidden;
}
.main .main__about-game {
  position: relative;
  padding-top: 94px;
}
.main .main__about-game .main__about-star_big {
  position: absolute;
  max-width: 100%;
  height: auto;
  margin-left: 814px;
  z-index: 2;
}
.main .main__about-game .main__about-star_small {
  position: absolute;
  overflow: hidden;
  margin-left: -90px;
  margin-top: 676px;
  z-index: 2;
}
.main .main__about-game .main__about-star_sred {
  position: absolute;
  overflow: hidden;
  margin-left: -74px;
  margin-top: 728px;
  z-index: 2;
}
.main .main__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.main .main__mini-title {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 788px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 72px;
}
.main .main__title_2 {
  padding-bottom: 72px;
}
.main .main__container_game {
  display: flex;
  gap: 32px;
}
.main .main__container_game .main__game {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 50px;
  z-index: 3;
}
.main .main__container_game .main__game_link {
  transition: all 1s;
}
.main .main__container_game .main__game_link:hover {
  transform: scale(1.1);
}
.main .main__container_game .main__game_cart {
  max-width: 378px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  transition: transform 0.3s ease;
}
.main .main__container_game .main__game_cart .main__game_img {
  width: 378px;
  height: 314px;
}
.main .main__container_game .main__game_cart .main__game_name {
  padding: 32px 32px 36px 32px;
  box-sizing: border-box;
}
.main .main__container_game .main__game_cart .name1 {
  height: 159px;
}
.main .main__container_game .main__game_cart .name2 {
  height: 198px;
}
.main .main__container_game .main__game_cart .name3 {
  height: 159px;
}
.main .main__container_game .main__game_cart .name4 {
  height: 237px;
}
.main .main__container_game .main__game_cart .name5 {
  height: 198px;
}
.main .main__container_game .main__game_cart .name6 {
  height: 237px;
}
.main .main__container_game .main__game_name-p-container {
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.main .main__container_game .main__game_name-p {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.main .main__container_game .main__game_name-h2 {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.main .main__mini-game {
  position: relative;
  padding-top: 46px;
}
.main .main__mini-game .main__mini-star_min {
  position: absolute;
  overflow: hidden;
  margin-left: 1158px;
  margin-top: 40px;
}
.main .main__mini-game .main__mini-star_sred {
  position: absolute;
  overflow: hidden;
  margin-left: 1200px;
  margin-top: 68px;
}
.main .main__mini-game .main__star-end_small {
  position: absolute;
  margin-top: -90px;
  margin-left: 1132px;
}
.main .main__mini-game .main__star-end_sred {
  position: absolute;
  margin-top: -134px;
  margin-left: 1200px;
}
.main .main__container-game_MINI {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 144px;
}
.main .main__container-game_MINI .main__game-mini_cart {
  max-width: 1200px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}
.main .main__container-game_MINI .main__game-mini_name {
  width: 601px;
  padding: 48px 48px 0px 48px;
  box-sizing: border-box;
}
.main .main__container-game_MINI .main__game-mini_h2 {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  margin-bottom: 24px;
  line-height: 1.2;
}
.main .main__container-game_MINI .main__game-mini_p {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 36px;
}
.main .main__container-game_MINI .main__game-mini_button {
  width: 247px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  box-sizing: border-box;
  transition: all 1s;
}
.main .main__container-game_MINI .main__game-mini_button:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: url("img/cursor.svg"), pointer;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer .footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

@media (min-width: 1251px) {
  .header__star-big_mobile {
    display: none;
  }
}
@media (max-width: 1250px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
  .header .header__star-big {
    display: none;
  }
  .header .header__star-big_mobile {
    position: absolute;
    top: -100px;
    right: -114px;
    overflow: hidden;
  }
  .header .header__star1 {
    margin-left: -15px;
  }
  .main .main__about-game .main__about-star_big,
  .main .main__about-game .main__about-star_small,
  .main .main__about-game .main__about-star_sred {
    display: none;
  }
  .main .main__about-game .main__container_game {
    gap: 10px;
  }
  .main .main__about-game .main__container_game .main__game_cart {
    max-width: 323px;
  }
  .main .main__about-game .main__container_game .main__game_img {
    max-width: 323px;
  }
  .main .main__about-game .main__container_game .main__game_name-h2 {
    font-size: 26px;
  }
  .main .main__mini-game .main__mini-star_min {
    margin-left: 600px;
    margin-top: 0px;
  }
  .main .main__mini-game .main__mini-star_sred {
    margin-left: 500px;
    margin-top: 16px;
  }
  .main .main__mini-game .main__star-end_small,
  .main .main__mini-game .main__star-end_sred {
    display: none;
  }
}
@media (min-width: 1025px) {
  .MOBILE-main__container-game_MINI,
  .main__mini-star_min-end,
  .main__mini-star_sred-end {
    display: none;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 385px);
    padding-right: calc(50% - 385px);
  }
  .header .header__star1 {
    margin-left: -25px;
  }
  .header .header__star3 {
    margin-left: 660px;
  }
  .header .header__star4 {
    margin-left: 710px;
  }
  .main .main__about-game {
    display: none;
  }
  .main .main__mini-game .main__container-game_MINI {
    display: none;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_cart-mobile {
    border-radius: 27.22px;
    background-color: white;
    width: 343px;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_img-mobile {
    width: 343px;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 29.04px 29.04px 32.67px 29.04px;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile .main__game-mini_h2-mobile {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 16px;
    line-height: 1.2;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile .main__game-mini_p-mobile {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 32px;
    line-height: 1.2;
  }
  .main .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile .main__game-mini_button-mobile {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
  }
}
@media (min-width: 768px) {
  .header .header__container .header__button_mobil-center {
    display: none;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 648px;
  }
  .header .header__container {
    padding-top: 147px;
  }
  .header .header__container .header__title_big {
    font-size: 40px;
    text-align: center;
  }
  .header .header__container .header__title {
    font-size: 16px;
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;
    box-sizing: border-box;
    line-height: 1.2;
  }
  .header .header__container .header__button_mobil-center {
    display: flex;
    justify-content: center;
  }
  .header .header__container .header__button_desktop-center {
    display: none;
  }
  .header .header__container .header__button_mobil {
    display: block;
    width: 285px;
    height: 55px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
    padding: 16px 28px 16px 28px;
    font: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    text-align: center;
    transition: all 1s;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0%;
    transition: all 1s;
  }
  .header .header__container .header__button_mobil:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: url("img/cursor.svg"), pointer;
  }
  .header .header__star1 {
    width: 35px;
    height: 35px;
    margin-left: 24px;
    margin-top: -374px;
  }
  .header .header__star2 {
    width: 21px;
    height: 21px;
    margin-top: -396px;
    margin-left: 82px;
  }
  .header .header__star3 {
    width: 18px;
    height: 18px;
    margin-top: 30px;
    margin-left: 476px;
  }
  .header .header__star4 {
    width: 39px;
    height: 41px;
    margin-top: 52px;
    margin-left: 436px;
  }
  .header__star-big {
    display: none;
  }
  .header__star-big_mobile {
    position: absolute;
    top: -100px;
    right: -114px;
    overflow: hidden;
  }
  .header__poloca-scrolling-text-container {
    height: 52px;
    gap: 6;
    padding: 16px 24px 16px 24px;
  }
  .header__poloca-scrolling-text-container .header__scrolling-text .header__poloca_title {
    font-size: 16px;
    line-height: 20px;
  }
  .header__poloca-scrolling-text-container .header__scrolling-text .header__star {
    width: 19.34px;
    height: 19.34px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .main__mini-game .main__mini-star_min,
  .main__mini-game .main__mini-star_sred {
    display: none;
  }
  .main__mini-game .main__title {
    font-size: 40px;
    padding-bottom: 48px;
    text-align: center;
  }
  .main__mini-game .MOBILE-main__container-game_MINI {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 10px;
    align-content: center;
  }
  .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_cart-mobile {
    border-radius: 27.22px;
    background-color: white;
  }
  .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_img-mobile {
    width: 343px;
  }
  .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 29.04px 29.04px 32.67px 29.04px;
  }
  .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile .main__game-mini_h2-mobile {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 16px;
    line-height: 1.2;
  }
  .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile .main__game-mini_p-mobile {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 32px;
    line-height: 1.2;
  }
  .main__mini-game .MOBILE-main__container-game_MINI .main__game-mini_name-mobile .main__game-mini_button-mobile {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
  }
  .footer {
    height: 100px;
  }
  .footer .footer__title {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .header .header__star1 {
    position: absolute;
    margin-left: 24px;
    margin-top: -424px;
  }
  .header .header__star2 {
    margin-top: -458px;
    margin-left: 82px;
  }
  .header .header__star3 {
    margin-top: 30px;
    margin-left: 257px;
  }
  .header .header__star4 {
    margin-top: 52px;
    margin-left: 284px;
  }
}/*# sourceMappingURL=style-hw1.css.map */