* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.header {
    height: 710px;
    background: rgba(225, 255, 143, 1);
    position: relative;
    // z-index: -2;
    overflow: hidden;

    .header-container {
        padding-top: 196px;

        .header-container__titleBig {
            color: rgba(32, 32, 39, 1);
            font-size: 64px;
            font-weight: 700;
            // line-height: 100%;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 24px;
            box-sizing: border-box;
        }

        .header-container__title {
            max-width: 700px;
            color: rgba(32, 32, 39, 1);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 48px;
            box-sizing: border-box;
        }

        .header-container__buttonDesktop-center {
            font: inherit;
            width: 247px;
            height: 66px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 28px 16px 28px;
            box-sizing: border-box;
            border: 1px solid rgba(32, 32, 39, 1);
            border-radius: 60px;
            background: rgba(32, 32, 39, 1);
            text-align: center;
            transition: all 1s;
            color: rgba(255, 255, 255, 1);
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0%;
            transition: all 1s;
        }

        .header-container__buttonDesktop-center:hover {
            background-color: transparent;
            color: rgba(0, 0, 0, 1);
            cursor: url("img/cursor.svg"), pointer;
        }

    }

    .header__star-big {
        position: absolute;
        // padding-bottom: 120px;
        top: -336px;
        right: -424px;
        overflow: hidden;
        // z-index: -1;
    }

    .header__star1 {
        position: absolute;
        margin-left: -60px;
        margin-top: -460px;
    }

    .header__star2 {
        position: absolute;
        margin-top: -488px;
        margin-left: 31px;
    }

    .header__star3 {
        width: 37px;
        height: 37px;
        position: absolute;
        margin-top: -14px;
        margin-left: 812px;
    }

    .header__star4 {
        position: absolute;
        margin-top: 14px;
        margin-left: 870px;
    }
}

.header-poloca {
    height: 90px;
    padding: 27px 49px 27px 49px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;

    .header-poloca__scrolling-text {
        display: inline-block;
        animation: scroll-left 15s linear infinite;

        .header-poloca__title {
            font-family: Montserrat;
            padding: 25px 51px 30px 51px;
            text-align: center;
            box-sizing: border-box;
            color: rgba(32, 32, 39, 1);
            font-size: 30px;
            font-weight: 700;
            line-height: 37px;
            letter-spacing: 4%;
            text-align: left;
            text-transform: uppercase;

        }

        .header-poloca__star {
            padding-left: 51px;
            padding-right: 51px;
        }

    }


    @keyframes scroll-left {
        from {
            transform: translateX(0%);
            /* Начинаем с видимой справа части */
        }

        to {
            transform: translateX(-50%);
            /* Перемещаемся влево, пока не исчезнем */
        }
    }

}

.main {
    background: rgba(32, 32, 39, 1);
    overflow: hidden;
    // position: relative;

    .main-aboutGame {
        position: relative;
        padding-top: 94px;

        .main-aboutGame__starBig {
            position: absolute;
            // overflow: hidden;
            max-width: 100%;
            height: auto;
            margin-left: 814px;
            z-index: 2;
        }

        .main-aboutGame__starSmall {
            position: absolute;
            overflow: hidden;
            margin-left: -90px;
            margin-top: 676px;
            z-index: 2;
        }

        .main-aboutGame__starSred {
            position: absolute;
            overflow: hidden;
            margin-left: -74px;
            margin-top: 728px;
            z-index: 2;
        }
    }

    .main-aboutGame__title,
    .main-miniGame__title {
        color: rgba(255, 255, 255, 1);
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 24px;
    }

    .main-aboutGame__mini-title {
        // color: rgba(255, 255, 255, 1);
        color: white;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        width: 788px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 72px;
    }

    .main-aboutGame__title_2,
    .main-miniGame__title_2 {
        padding-bottom: 72px;
    }

    .main-aboutGame__containerForGame {
        display: flex;
        gap: 32px;

        .main-aboutGame__game {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding-bottom: 50px;
            z-index: 3;
        }

        .main-aboutGame__gameLink {
            transition: all 1s;
        }

        .main-aboutGame__gameLink:hover {
            transform: scale(1.1);
        }

        .main-aboutGame__cart {
            max-width: 378px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: white;
            transition: transform 0.3s ease;

            .main-aboutGame__img {
                width: 378px;
                height: 314px;
            }

            .main-aboutGame__name {
                padding: 32px 32px 36px 32px;
                box-sizing: border-box;
            }

            .name1 {
                height: 159px;
            }

            .name2 {
                height: 198px;
            }

            .name3 {
                height: 159px;
            }

            .name4 {
                height: 237px;
            }

            .name5 {
                height: 198px;
            }

            .name6 {
                height: 237px;
            }
        }

        .main-aboutGame__name-p-container {
            width: 108px;
            height: 36px;
            border-radius: 52.58px;
            background: rgba(247, 247, 247, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        .main-aboutGame__name-p {
            color: rgba(32, 32, 39, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            // letter-spacing: 0px;
            text-align: left;
        }

        .main-aboutGame__name-h2 {
            color: rgba(32, 32, 39, 1);
            font-size: 32px;
            font-weight: 700;
            text-align: left;
        }

    }

    .main-miniGame {
        position: relative;
        padding-top: 46px;

        .main-miniGame__star-min {
            position: absolute;
            overflow: hidden;
            margin-left: 1158px;
            margin-top: 40px;
        }

        .main-miniGame__star-sred {
            position: absolute;
            overflow: hidden;
            margin-left: 1200px;
            margin-top: 68px;
        }

        .main-miniGame__star-end-small {
            position: absolute;
            margin-top: -90px;
            margin-left: 1132px;
        }

        .main-miniGame__star-end-sred {
            position: absolute;
            margin-top: -134px;
            margin-left: 1200px;
        }
    }

    .main-miniGame__containerDesktop {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 144px;

        .main-miniGame__cart {
            max-width: 1200px;
            // height: 500px;
            border-radius: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: white;
        }

        .main-miniGame__name {
            width: 601px;
            padding: 48px 48px 0px 48px;
            box-sizing: border-box;
        }

        .main-miniGame__h2 {
            color: rgba(32, 32, 39, 1);
            font-size: 48px;
            font-weight: 700;
            line-height: 100%;
            text-align: left;
            margin-bottom: 24px;
            // межстрочный интервал для заголовка ниже
            line-height: 1.2;
        }

        .main-miniGame__p {
            color: rgba(32, 32, 39, 1);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            margin-bottom: 36px;
        }

        .main-miniGame__button {
            width: 247px;
            height: 66px;
            display: flex;
            justify-content: center;
            align-items: center;
            // gap: 10;
            padding: 16px 28px 16px 28px;
            border-radius: 60px;
            background: rgba(32, 32, 39, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            text-align: center;
            box-sizing: border-box;
            transition: all 1s;
        }

        .main-miniGame__button:hover {
            background-color: transparent;
            color: rgba(0, 0, 0, 1);
            cursor: url("img/cursor.svg"), pointer;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 1);
            border-radius: 60px;
        }
    }
}

.footer {
    background: rgba(189, 237, 53, 1);
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .footer__title {
        color: rgba(0, 0, 0, 1);
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
    }
}

@import "mobile-style-hw1";